/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%) */


body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.accordian-wrapper {
    background-color: #fff;
    max-width: 55%;
    height: 60%;
    border-radius: 30px;
    box-shadow: 0px 10px 40px hsl(237, 12%, 33%);
    display: flex;
    align-items: center;
}
.image-wrapper-background {
    position: relative;
    width: 50%;
    height: 100%;
    background-image: url('images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position:133% center;
}
.hero-image {
    height: 100%;
    background-image: url('images/illustration-woman-online-desktop.svg');
    background-repeat: no-repeat;
    background-position:-160% center;
}
.box-desktop {
    position: absolute;
    left: -20%;
    bottom: 27%;
}
.dropdown-container-wrapper {
    width: 50%;
}